@switch (currentBreakpoint()) { @case ('DESKTOP') {
<div class="w-full h-5rem centered-container shadow-2 flex">
  <div class="flex-center">
    <app-logo />
  </div>

  <div class="w-full flex gap-5 align-items-center px-5">
    <ng-template [ngTemplateOutlet]="navbar" />
  </div>

  <div class="flex-center gap-3">
    <ng-template [ngTemplateOutlet]="buttons" />
  </div>
</div>
} @default {
<div
  class="w-full h-5rem centered-container shadow-2 flex align-items-center justify-content-between"
>
  <app-logo />
  <div class="flex-center gap-3">
    @if (isTablet) {
    <ng-template [ngTemplateOutlet]="buttons" />
    }

    <div>
      <i
        (click)="sidebarVisible = true"
        class="pi pi-align-justify font-bold text-2xl text-primary"
      ></i>
    </div>
  </div>
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  [fullScreen]="isMobile"
  position="right"
>
  <ng-template pTemplate="closeicon"
    ><i class="pi pi-times font-bold text-2xl text-primary"></i
  ></ng-template>

  <div class="w-full h-full flex flex-column gap-5 px-5">
    <div class="w-full h-full flex flex-column gap-5 align-items-start">
      <ng-template [ngTemplateOutlet]="navbar" />
    </div>

    @if (isMobile) {
    <div class="flex flex-column gap-2 h-full justify-content-end">
      <ng-template [ngTemplateOutlet]="buttons" />
    </div>
    }
  </div>
</p-sidebar>
} }

<ng-template #navbar>
  @for(linkData of linkData(); track $index) {
  <app-link
    #linkRef
    [label]="linkData['TITLE']"
    [overlay]="!$last"
    (mouseenter)="openOverlay(linkRef)"
  >
    <div class="flex flex-column gap-3 p-2">
      @for(link of linkData['CHILDREN']; track $index) { @if(link.SRC) {
      <div class="flex justify-content-start align-items-center gap-2">
        <app-img [src]="link.SRC" />
        <app-link [label]="link.LABEL" />
      </div>
      } @else {
      <app-link [label]="link.LABEL" />
      } }
    </div>
  </app-link>
  }
</ng-template>

<ng-template #buttons>
  <app-change-language-button />

  <app-change-theme-button />

  <app-button
    styleClass="w-full"
    routerLink="/app/home"
    [label]="'COMMON.ENTER' | translate"
    [rounded]="true"
    [outlined]="true"
  />

  <app-button
    styleClass="w-full"
    [label]="'COMMON.REGISTER' | translate"
    (onClick)="onRegister()"
    [rounded]="true"
  />
</ng-template>
