<div class="centered-container pt-7 pb-3 surface-100">
  <div class="grid">
    <div class="col-12 md:col-6">
      <div class="flex flex-column gap-3">
        <p class="text-base font-italic font-light">
          {{ "LANDING.FOOTER.ADDRESS" | translate }}
        </p>
        <p class="text-base font-italic font-light">
          {{ "LANDING.FOOTER.DOCUMENT" | translate }}
        </p>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-3">
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "COMMON.START" | translate }}
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "LANDING.FOOTER.SOLUTION" | translate }}
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "LANDING.FOOTER.ABOUT" | translate }}
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "LANDING.FOOTER.HELP" | translate }}
        </p>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-3">
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "COMMON.BLOG" | translate }}
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "LANDING.FOOTER.WORK_WITH_US" | translate }}
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "COMMON.QUOTATIONS" | translate }}
        </p>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="flex flex-column gap-3">
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "LANDING.FOOTER.AFFILIATE" | translate }}
        </p>
        <p class="text-sm font-medium hover:underline cursor-pointer">
          {{ "LANDING.FOOTER.SECURITY" | translate }}
        </p>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="grid mt-5">
    <div class="col-12 md:col-6">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        {{ "LANDING.FOOTER.PRIVACY" | translate }}
      </p>
    </div>
    <div class="col-12 md:col-2">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        email&#64;email.com
      </p>
    </div>
    <div class="col-12 md:col-2">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        {{ "LANDING.FOOTER.TERMS" | translate }}
      </p>
    </div>
    <div class="col-12 md:col-2">
      <p class="text-sm font-medium hover:underline cursor-pointer">
        {{ "LANDING.FOOTER.COPYRIGHT" | translate : { year: currentYear() } }}
      </p>
    </div>
  </div>
</div>
